{% extends "todos/base.html" %}
{% block content %}

<div class="col-md-12 offset-md-1">
<a class="mr-2" href="{% url 'post-create' %}">
      <button class="button-53" role="button">New Task</button>
</a>
        {% for post in posts %}

        {% if post.author == user %}

        <article class="media content-section" style="max-width: 460px;">

          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'post-detail' post.id %}">{{ post.status }}</a>
              <br>
              <small class="text-muted">Task created: {{ post.date_posted|date:"F d, Y" }}</small>
              <br>
              <small class="text-muted">Task Updated: {{ post.date_updated|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href= "{% url 'post-detail' post.id %}">{{ post.task }}</a></h2>
            <p class="article-content">{{ post.description }}</p>
          </div>
        </article>

        {% endif %}
    {% endfor %}

</div>
{% endblock content %}


