{% extends "todos/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>

          <p class="text-secondary">{{ user.password1 }}</p>
        </div>
      </div>
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
              {{ u_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="col-md-4 btn btn-dark"  type="submit">Update</button>
              <a href="{% url 'password_change' %}"><button class="col-md-6 btn btn-dark" type="button"> 
                  Change Password </button></a>
          </div>
      </form>
    </div>
{% endblock content %}
